<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style/main.css">
  <title>Admin Chef</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Admin Chef</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm py-4">
          <h2>Selamat Datang Chef</h2>
        </div>
      </div>
    </div>
  </header>


  <main>
    <div class="container">
      <section class="menu-admin">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true">Resep Baru</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
              role="tab" aria-controls="profile" aria-selected="false">Profile</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
              role="tab" aria-controls="contact" aria-selected="false">Contact</button>
          </li>
        </ul>

        <!-- tabs content -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form action="/admin" method="post" class="form-resep">
              <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Judul Resep" name="judulResep"
                  required>
                <label for="floatingInput">Judul Resep</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  name="deskripsi" style="height: 100px" required></textarea>
                <label for="floatingTextarea2">Deskripsi</label>
              </div>
              <div class="bahan-masakan">
                <h4 class="mt-3 mb-1">Bahan - bahan</h4>
                <small>Isi bahan bahan disini</small>
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="bahan" name="bahans"
                    required>
                  <label for="floatingInput">Bahan-1</label>
                </div>
              </div>
              <button class="btn btn-primary btn-bahan" type="button">Tambah Bahan +</button>

              <div class="submit my-5">
                <button type="submit" class="btn btn-success btn-simpan" id="alertToastBtn" disabled>Simpan
                  resep</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
      </section>
    </div>
  </main>

  <!-- Toast -->
  <div class="toast bg-success text-white position-absolute" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script>


    //// Toast ////
    document.forms[0].addEventListener("submit", function () {
      var toastElem = document.querySelector(".toast");
      var toast = new bootstrap.Toast(toastElem);
      toast.show();
    })





    //// Add Bahan ///
    let totalBahan = 2;
    const btnBahan = document.querySelector(".btn-bahan");
    let bahanContainer = document.querySelector(".bahan-masakan");

    btnBahan.addEventListener("click", function (evt) {

      let divForm = document.createElement("div");
      divForm.className = "form-floating my-3";

      let input = document.createElement("input");
      input.type = 'text';
      input.className = 'form-control';
      input.id = 'floatingInput';
      input.name = `bahans`;
      input.placeholder =
        input.required = true;

      let label = document.createElement("label");
      label.setAttribute("for", 'floatingInput')
      label.innerHTML = `Bahan-${totalBahan}`

      // append
      divForm.append(input, label)
      bahanContainer.append(divForm)

      totalBahan++;
    });



    //// Validate Forms ////

    const formResep = document.forms[0];

    formResep.addEventListener("change", function (evt) {

      const btnSimpan = document.querySelector(".btn-simpan");
      if (evt.target.value != '' && evt.target.value != null) {
        btnSimpan.disabled = false;
      } else {
        btnSimpan.disabled = true;
      }
      console.log(evt);
    })


  </script>
</body>

</html>