<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title><%= resep.judulResep %></title>
</head>
<body>

  <main>
    <div class="container p-5">
      <% const {judulResep, deskripsi, slug, ...allBahan} = resep; %>
      <h1><%= judulResep %></h1>
      <div class="row content">
        <div class="col">
          <p><%= deskripsi %></p>
          <hr>
          <h3>Bahan - bahan</h3>
          <ul>
          <% for (const bahan in allBahan) { %>
            <li><%= allBahan[bahan] %></li>
          <% } %>
          </ul>
        </div>
      </div>
    </div>
  </main>
  

  <script>
  
  </script>
</body>
</html>